ion-view(view-title='Dashboard', name='dashboard-view')
  ion-nav-buttons(side='right')
    button.button.icon-left.ion-log-out.button-stable(ng-click='logout()') Logout
  ion-content.padding
    .row
      .col.text-center
        h3.title {{username}}
        |       Dashboard.
        br
        br
        li(ng-repeat="video in videos")
          {{video.title}}
        button.button.button-full.button-positive(ng-click='performValidRequest()')
          | Make Valid Request
        button.button.button-full.button-energized(ng-click='performUnauthorizedRequest()')
          | Make Request for unauthorized resource
        button.button.button-full.button-assertive(ng-click='performInvalidRequest()')
          | Make Request without valid token
        br
        br
        |       {{response}}
