ion-view(view-title='Sign-In', name='login-view')
  ion-content.padding
    .list.list-inset
      label.item.item-input
        input(type='text', placeholder='Username', ng-model='data.username')
      label.item.item-input
        input(type='password', placeholder='Password', ng-model='data.password')
    button.button.button-block.button-positive(ng-click='login(data)') Login